.text-link {
    text-decoration: none;
    margin: 20px;
}

.edit-link {
    text-decoration: none;
}

.container {
    margin: 30px;
}

.icon-container {
    margin-top: 17px;
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    margin-right: 20px;
}

.icon {
    cursor: pointer;
}