.text-link {
    text-decoration: none;
    margin: 20px;
}

.edit-link {
    text-decoration: none;
}

.container {
    margin: 30px;
}

.icon-container {
    margin-top: 5px;
    display: flex;
}

.icon {
    cursor: pointer;
}