.text-link {
    text-decoration: none;
    margin: 20px;
}

.edit-link {
    text-decoration: none;
}

.container {
    margin: 30px;
}

.icon-container {
    margin-top: 5px;
    display: flex;
}

.icon {
    cursor: pointer;
}

.table-container {
    overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;
  }
 
  /* För scrollning av långa kommentarer/text */
  /* SIMON DELETE THIS */
  .comments {
    max-width: 125px;
    min-width: 125px;
    padding: 0 !important;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center !important;
  }
/* -------------------------------- */


  